html, body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background:url("https://i.imgur.com/PsA22oK.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Assistant', sans-serif;
  font-family: 'Saira', sans-serif;
  height:100vh;
  overflow-x: hidden;

}
#title{
  font-family: 'Saira', sans-serif;
  position: absolute;
  margin-left:10%;
  font-size:3em;
  color:#FF8100;
  
}

#home-icon{
  font-size: 2em;
  color:#FF8100; 
  /* position: fixed; */
  text-decoration:none;

}
#home-icon:hover {
  color:#001B2D;
}
.nav{
  display: inline-block;
  padding:1em;
  font-size: 1em;
}

header {
  top:0;
  display: flex;
  justify-content: center;
   background-color:rgba(43, 58, 103, 0.797);
   height:5em;
   width:100%;
   margin-bottom: 2em;
  }



#book-section{
  margin:0 auto;
  width: 80%;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-evenly;
  padding:2em 2em 2em 2em;
  background-color: rgba(245, 245, 245, 0.31);
}
img{
width: 30em;
height: 20em;
object-fit: contain;
}

img:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}


footer small{
  height: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30%;
  color: white;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 666px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 
    div{
      display: inline-block;
      margin-top:50px;
      margin-left:auto;
      margin-right:auto;
      opacity: 0.9; 
      width:50%;
      display:flex;
      justify-content: space-evenly; 
      max-width:650px;
      min-width:350px;
    }
    #book-section{
      margin-left:auto;
      margin-top:auto;
      flex-direction: column;
      min-width: 300px;
    }


    img{
      width:100%;
      overflow: hidden;
       margin-left:auto;
       margin-top:auto;
       min-width: 150px;
     
     }
     img:hover{
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
     }    


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}