body{
  display:flex;
  justify-content: center;
  background:url("https://i.imgur.com/PsA22oK.jpg");
  background-color: black;
  flex-direction: column;
}
#title{
  font-family: 'Libre Baskerville', serif;
  position: fixed;
 
  margin-left:10%;
  font-size:40px;
  color:rgb(255, 255, 255);
}
#home-icon{
  font-size: 60px;
  color:white; 
  position: fixed;
  text-decoration:none;
  margin-top:60px;
  margin-left:10%;
}
/* #home-icon{
  font-size: 60px;
  color:white; 
  position: fixed;
  text-decoration:none;
  text-align: left;
  margin-left:10%;
  margin-top:7%;
 
} */


header {
  background: linear-gradient(0deg, rgba(31,43,161,1) 0%, rgba(77,1,113,0.7777485994397759) 100%);
  display: inline-block;
  height:150px;
  opacity:0.8;
  width:100%;
 
 }
 
main{
  margin-top:10%; 
  margin-left:10%;
  opacity: 0.9; 
  background-color:white;
  border-right-color: blue;
  border-right-style: solid;
  border-left-color: blue;
  border-left-style: solid;
  width:80%;
  display:flex;
  align-items: center; 
  flex-direction: column;
  
}
/* 
.book-divs{
 
} */
small{
  display: block;
 margin-top:40px;
  text-align: center;
  color:white;
  
}
 footer{
  width:100%;
  opacity:0.8;
  min-height:80px;
  /* background: linear-gradient(0deg, rgba(77,1,113,0.7777485994397759) 0%, rgba(31,43,161,1) 100%); */
  
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}