
html ,body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background:url("https://i.imgur.com/xYixvl6h.png");
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Assistant', sans-serif;
  font-family: 'Saira', sans-serif;
  height:100vh;
  overflow-x: hidden;
}

#title{
  font-family: 'Saira', sans-serif;
  position: absolute;
  margin-left:10%;
  font-size:3em;
  color:#FF8100;
  
}
p{
  text-align:left;
  margin-left:10%;
  color:rgb(24, 32, 56);
}
#home-icon{
  font-size: 2em;
  color:#FF8100; 
  /* position: fixed; */
  text-decoration:none;

}
#home-icon:hover {
  color:#001B2D;
}
.nav{
  display: inline-block;
  padding:1em;
  font-size: 1em;
}
header {
top:0;
display: flex;
justify-content: center;
background-color:rgba(43, 58, 103, 0.797);
height:5em;
width:100%;
margin-bottom:2em;
}


#quotes-div{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; 
  justify-content: space-evenly;
  padding:1em 1em 1em 1em;
  height:25em;
  margin:0 ; 
  background-color:rgba(43, 58, 103, 0.797); 
  min-width:28em;
  min-height:13em;
  text-align:left;
}

#display-author{
color:#FF8100;
font-size:1.5em;
text-align:left;
width:30%;
margin:0 auto;
}

#display-quote{
padding: .5em .5em .5em .5em;
color:white;
font-size:1.8em;
text-align:left;
}

h2{

  margin-left:10px;
  color:#FF8100;
  font-size:18px;
  text-align:left; 
}
a{
  color:white;
  margin-left:8px;
  text-align:left; 
  text-decoration:none;
}

#generate-quote-button{
  position: fixed;
  border-radius: 5%;
  border: none;
  padding: .5em .5em .5em .5em;
  width: 40%;
  text-align: left;
  margin:0 auto;
  
}
button{
width: 20em;
height: 3.5em;
  }
/* 
  #generate-quote-button:hover{
 
  } */



/* #links{
  background-color:white;
  width: 40%; 
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
   align-items: center; 
  justify-content: space-evenly;
  padding:1em 1em 1em 1em;
  height:15em;
  margin:0 ; 
 
  min-width:28em;
  min-height:13em;
  text-align:center;
} */


 


footer small{
  height: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 30%;
  color: white;
}

  

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    

   
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 



}