
body{
  margin:0 auto;
  display: flex;
  flex-direction:column ;
  background:url("https://i.imgur.com/xYixvl6h.png");
  font-family: 'Assistant', sans-serif;
  font-family: 'Saira', sans-serif;
  background-size:cover;
  
  width:100%;
}
#title{
  font-family: 'Saira', sans-serif;
  position: fixed;
  margin-left:10%;
  font-size:40px;
  color:#FF8100;
  
}
p{
  text-align:left;
  margin-left:10%;
  color:rgb(24, 32, 56);
}
#home-icon{
  font-size: 60px;
  color:#FF8100; 
  position: fixed;
  text-decoration:none;
  margin-top:60px;
  margin-left:10%;
}

#home-icon:hover {
  color:#001B2D;
}

header {
 position: fixed;
 background-color:#2B3A67;
 display: inline-block;
 height:150px;
 opacity:0.8;
 width:100%;

}

#generate-quote-button{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color:#2B3A67;
  text-align:center;
  border-radius: 5%;
  color:white;
  font-size:16px;
}
#generate-quote-button:hover{
  background-color:#FF8100;

}
#quotes-div{
  
  /* position: relative; */
  margin-top:180px;
  display:flex;
  align-items: baseline;
  flex-direction:column;
  width:30%;
  height:30%;
  margin-right:auto;
  margin-left:auto;
  background-color:white;
  border-right-color:#2B3A67;
  border-right-style: solid;
  border-left-color: #2B3A67;
  border-left-style: solid;
  min-width:350px;
  min-height:150px;
}

#display-author{

color:#FF8100;
font-size:20px;
margin-top:10px;
text-align:left;
width:30%;
margin-left:auto;
margin-right: auto;
}
#display-quote{
color:#001B2D;
font-size:15px;
text-align:center;
width:30%;


margin-top:10%;
margin-left:auto;
margin-right: auto;

}
h2{

  margin-left:10px;
  color:rgb(24, 32, 56);
  font-size:18px;
  text-align:left; 
}
a{
  color:#FF8100;
  font-size:18px;
  display:flex; 
  flex-direction: column;
  margin-left:8px;
  text-align:left; 
  text-decoration:none;
}

#links{
  margin-top:20px;
  margin-right: auto;
  margin-left: auto;
  text-align:left;
  background-color:white;
  width: 40%; 
  border-right-color:#2B3A67 ;
  border-right-style: solid;
  border-left-color:#2B3A67;
  border-left-style: solid;
  min-width:350px;
  min-height:150px;
}

footer small{
  display: inline-block;
  width:100%;
  text-align: center;
  margin-top:85px;
  color:#001B2D;
}

  

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    

    #quotes-div{

      margin-top:180px;
      display:flex;
      align-items: baseline;
      flex-direction:column;
      width:40%;
      margin-right:auto;
      margin-left:auto;
      max-width:400px;
      min-height:150px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 



}